<!DOCTYPE html>
<!--xmlns:th="http://www.thymeleaf.org"  th:text="Hola con Thymeleaf"-->

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/CSS/menus.css" rel="stylesheet" type="text/css"/>
    </head>

    <!--<header th:replace="layout/plantilla :: header"/>-->

    
    <body>
    <div class="contenido">
    <header th:replace="layout/plantilla :: header"/>
    
        <h2 th:text="#{articulo.titulo}">Lista Articulos</h2>

        <a th:href="@{/articulo/nuevo}" th:text="#{articulo.nuevo}">Nuevo Artículo</a>
        <div th:if="${articulos != null and !articulos.empty}">
            <p>Registros</p>
            <table border="1" >
                <thead>
                    <tr>
                        <th th:text="#{articulo.descripcion}">Descripción</th>
                        <th th:text="#{articulo.precio}">Precio</th>
                        <th th:text="#{articulo.existencias}">Existencias</th>
                        <th th:text="#{articulo.activo}">Activo</th>
                        <th th:text="#{accion.eliminar}">Eliminar</th>
                        <th th:text="#{accion.actualizar}">Modificar</th>
                        
                      

                    </tr>
                </thead>
                <tbody>
                    <tr th:each="articulo:${articulos}"><!--Por cada elemento de Clinetes -->
                        <td th:text="${articulo.descripcion}"></td>
                        <td th:text="${#numbers.formatDecimal(articulo.precio,3,2)}" style="text-align: right"></td>
                        <td th:text="${articulo.existencias}" style="text-align: center"></td>
                        <td> <input type="checkbox"  name="activo" th:checked="${articulo.activo}" disabled="true"/></td>
                        <td> <a th:href="@{/articulo/elimianar/} + ${articulo.idArticulo}" th:text="#{accion.eliminar}">Eliminar</a></td>
                        <td> <a th:href="@{/articulo/modificar/} + ${articulo.idArticulo}"th:text="#{accion.actualizar}">Modificar</a></td>


                    </tr>
                </tbody>
            </table>
        </div>

        <!-- -->
        <div th:if="${articulos == null or articulos.empty}"th:text="#{articulo.no_mostrar}">
            Lista Vacia
        </div>
    </div>
       
    <footer th:replace="layout/plantilla :: footer"   />
     </body>
</html>




