<!DOCTYPE html>
<!--xmlns:th="http://www.thymeleaf.org"  th:text="Hola con Thymeleaf"-->

<html xmlns: th="http://www.thymeleaf.org" 
      xmlns="http://www.w3.org/1999">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/CSS/menus.css" rel="stylesheet" type="text/css"/>
    </head>

    <!--<header th:replace="layout/plantilla :: header"/>-->

    <body>
    <header th:replace="layout/plantilla :: header"/>
    <div class="contenido">
        <h2>Lista Categorías</h2>

        <a th:href="@{/categoria/nuevo}">Nueva Categoria</a>
        <div th:if="${categorias != null and !categorias.empty}">
            <p>Registros</p>
            <table border="1" >
                <thead>
                    <tr>
                        <th>Descripción</th>
                        <th>Ativa</th>
                      

                    </tr>
                </thead>
                <tbody>
                    <tr th:each="categoria:${categorias}"><!--Por cada elemento de Clinetes -->
                        <td th:text="${categoria.descripcion}"></td>
                        <td> <input type="checkbox"  name="activo" th:checked="${categoria.activo}" disabled="true"></td>
                        <td> <a th:href="@{/categoria/elimianar/} + ${categoria.idCategoria}">Eliminar</a></td>
                        <td> <a th:href="@{/categoria/modificar/} + ${categoria.idCategoria}">Modificar</a></td>


                    </tr>
                </tbody>
            </table>
        </div>

        <!-- -->
        <div th:if="${categorias == null or categorias.empty}">
            Lista Vacia
        </div>
    </div>

    <footer th:replace="layout/plantilla :: footer"   />
    </body>
</html>




